# pyyaml  # ==5.1
# detectron2 -f https://dl.fbaipublicfiles.com/detectron2/wheels/cu102/torch1.9/index.html
# torch==1.9
# torchvision
opencv-python
pandas
detectron2-0.1+cu92-cp37-cp37m-linux_x86_64.whl
torch==1.4
torchvision
pycocotools
